<div class="container">
  <app-header></app-header>

  <main class=" mt-5">
    <div class="cards row">
      <div class="card border border-0">
        <div class="leftCard">
          <h1>3</h1>
          <h6>Nombre de classe</h6>
        </div>
      </div>
      <div class="card border border-0">
        <div class="leftCard">
          <h1>6</h1>
          <h6>Nombre de cours/semaine</h6>
        </div>
      </div>
      <div class="card border border-0">
        <div class="leftCard">
          <h1>3</h1>
          <h6>Nombre d'évaluation</h6>
        </div>
      </div>
      <div class="card border border-0">
        <div class="leftCard">
          <h1>0</h1>
          <h6>Nombre d'évaluation reporter</h6>
        </div>
      </div>
    </div>

    <div class="bottomMain mt-3">
      <div class="bottomMainItem"></div>
      <div class="bottomMainItem"></div>
    </div>
  </main>

  <app-footer></app-footer>

</div>
